# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.srl
*.xml
*.log

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Build output directories
bin/
release/

*.hflow.edit

.DS_Store